button{
    background-color: #f5aa49;
    border-color: #878482;
    border-width: 2px;
    width: 272px;
    height: 142px;
    box-sizing: border-box;
    font-family: "Arial Black", Times, sans-serif;
    font-size: 32px;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    text-align: left;
}

button::after{
    content: "×";
    font-family: Roboto;
    font-size: 72px;
    font-weight: 100;
    background: #fff;
    margin-left: 10px;
    border-radius: 50%;
    width: 112px;
    height: 98px;
    padding-top: 13px;
    top: 23px;
    text-align: center;
    position: absolute;
}